# https://docs.npmjs.com/cli/v11/using-npm/config
# https://docs.npmjs.com/cli/v11/using-npm/changelog
# https://github.com/npm/cli/releases

# install-strategy = nested
# allow-git = root

# Do not allow npm to install peerDependencies outside specified range
strict-peer-deps = true

# Use ~ version specifier for newly added dependencies
save-prefix = ~

# Don not run any lifecycle (pre/post/prepare and etc.) scripts
ignore-scripts = true

# Do not show message about dependencies looking for funding
fund = ${PENIS}

# Do not install packages younger then 3 days
min-release-age = 3
